<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head'); %>
</head>
<body>
    <!-- Header -->
    <header>
        <%- include('partials/header'); %>
    </header>

    <div class="container">
        <h3 class="title-centered">Reporte de Actividades</h3>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col"># Emp</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Rol</th>
                    <th scope="col">Mes</th>
                    <th scope="col">Año</th>
                    <th scope="col"># Horas Trab</th>
                    <th scope="col"># Entregas</th>
                    <th scope="col">Sueldo Base</th>
                    <th scope="col">Bono Ent</th>
                    <th scope="col">Bono Hrs</th>
                    <th scope="col">ISR</th>
                    <th scope="col">Vales Desp</th>
                    <th scope="col">Sueldo Neto</th>
                </tr>
            </thead>
            <tbody>
                <% 
                    for(let i=0; i< params.length; i++) { 
                %>
                    <tr>
                        <td><%= params[i].idEmp %></td>
                        <td>-</td>
                        <td>-</td>
                        <td><%= params[i].idRol %></td>
                        <td><%= params[i].mes %></td>
                        <td><%= params[i].anio %></td>
                        <td><%= params[i].horasTrabajadas %></td>
                        <td><%= params[i].numEntregas %></td>
                        <td>$<%= params[i].sueldoBase %></td>
                        <td>$<%= params[i].bonoEntregas %></td>
                        <td>$<%= params[i].bonoHoras %></td>
                        <td>-$<%= params[i].isr %></td>
                        <td>$<%= params[i].vales %></td>
                        <td>$<%= params[i].sueldoNeto %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>

    <footer>
        <%- include('partials/footer'); %>
    </footer>

    <%- include('partials/scripts'); %>
</body>
</html>